{{yield}}

<li><img src={{article.image}}> {{article.title}} {{action 'showArticle'}}
  {{#if isArticleShowing}}
    <p>
      {{article.content}}
    </p>
  {{else}}
    <button {{action 'hideArticle'}}>Hide Article</button>
  {{/if}}
</li>
