{{yield}}

<li><img src={{article.image}} {{action 'showArticle'}}> {{article.title}}
  {{#if isArticleShowing}}
    <p>{{article.content}}</p>
  {{else}}
    <button  {{action 'hideArticle'}}>Hide Article</button>
  {{/if}}
</li>
